/* Zoom-out Animation */
@keyframes zoomOut {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-out {
  animation: zoomOut 0.5s ease-in-out;
}
